<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polycustomer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolyCustomer">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".ui.activity.HistoryActicity"></activity>
        <activity
            android:name=".ui.activity.ProductActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".ui.activity.MessageActivity"
            />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".ui.activity.ChatActivity" />
        <activity android:name=".ui.activity.PurchaseHistoryActivity" />
        <activity
            android:name=".ui.activity.PayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".ui.activity.ProfileActivity" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".ui.activity.HomeActivity" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".ui.activity.AddProfileActivity" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".ui.activity.ActivityLogIn" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>


</manifest>